<section id="horizontal-form-layouts">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title-wrap bar-success">
            <h4 class="card-title" id="horz-layout-basic">Categories Form</h4>
          </div>
          <p class="mb-0">
            This is the basic horizontal form with labels on left and cost
            estimation form is the default position.
          </p>
        </div>
        <div class="card-body">
          <div class="px-3">
            <form class="form form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 label-control"> Company Name </label>
                <div class="col-md-9">
                  <select
                    class="form-control"
                    #companySelector
                    [(ngModel)]="item.companyId"
                    (change)="updaeTypes(companySelector.value)"
                  >
                    <option value="0" selected="">choose from Companies</option>
                    <option
                      *ngFor="let company of companyList"
                      [value]="company.id"
                    >
                      {{ company.name }}
                    </option>
                  </select>
                  <span
                    asp-validation-for="CompanyId"
                    class="text-danger"
                  ></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control">Type Name </label>
                <div class="col-md-9">
                  <select class="form-control" id="s1">
                    <option value="0" selected="">choose from types</option>
                    <option
                      *ngFor="let TypeData of typeList"
                      [value]="TypeData.id"
                    >
                      {{ TypeData.name }}
                    </option>
                  </select>
                  <span asp-validation-for="typeId" class="text-danger"></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control"> unit Name</label>
                <div class="col-md-9">
                  <select class="form-control">
                    <option value="0" selected="">choose from Unit</option>
                    <option *ngFor="let Unit of unitList" [value]="Unit.id">
                      {{ Unit.name }}
                    </option>
                  </select>
                  <span asp-validation-for="unitId" class="text-danger"></span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 label-control" asp-for="Name"></label>
                <div class="col-md-9">
                  <input asp-for="Name" class="form-control" />
                  <span asp-validation-for="Name" class="text-danger"></span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 label-control" asp-for="SellingPrice">
                </label>
                <div class="col-md-9">
                  <input asp-for="SellingPrice" class="form-control" />
                  <span
                    asp-validation-for="SellingPrice"
                    class="text-danger"
                  ></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" asp-for="BuyingPrice">
                </label>
                <div class="col-md-9">
                  <input asp-for="BuyingPrice" class="form-control" />
                  <span class="text-danger"></span>
                </div>
              </div>
              <div class="form-group row">
                <label
                  class="col-md-3 label-control"
                  asp-for="BalanceOfTheFirstDuration"
                >
                </label>
                <div class="col-md-9">
                  <input
                    asp-for="BalanceOfTheFirstDuration"
                    class="form-control"
                  />
                  <span
                    asp-validation-for="BalanceOfTheFirstDuration"
                    class="text-danger"
                  ></span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 label-control" asp-for="Notes"> </label>
                <div class="col-md-9">
                  <textarea
                    asp-for="Notes"
                    rows="5"
                    class="form-control"
                  ></textarea>
                  <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
              </div>

              <div class="form-actions" style="border-top: none">
                <a
                  asp-action="Index"
                  asp-controller="Home"
                  class="btn btn-danger mr-1"
                >
                  <i class="icon-trash"></i> Cancel
                </a>
                <button class="btn btn-success" type="submit">
                  <i class="icon-note"></i> Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
