<div class="confirm" [style.display]="showConfirm ? 'block' : 'none'">
  <img src="assets/img/check-correct.gif" alt="" />
</div>
<section id="horizontal-form-layouts">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title-wrap bar-success">
            <h4 class="card-title" id="horz-layout-basic">Units Form</h4>
          </div>
          <p class="mb-0">
            This is the basic horizontal form with labels on left and cost
            estimation form is the default position.
          </p>
        </div>
        <div class="card-body">
          <div class="px-3">
            <form
              [formGroup]="unitForm"
              (ngSubmit)="addUnit()"
              class="form form-horizontal"
            >
              <div class="form-group row">
                <label for="unitName" class="col-md-3 label-control"
                  >Unit Name</label
                >
                <div class="col-md-9">
                  <input
                    id="unitName"
                    formControlName="unitName"
                    class="form-control"
                  />
                  <div
                    *ngIf="
                      unitForm.valid || unitForm.touched || unitName.touched
                    "
                  >
                    <span
                      class="text-danger"
                      *ngIf="unitName.errors?.['required']"
                      >Unit Name Is Required</span
                    >
                    <span
                      class="text-danger"
                      *ngIf="unitName.errors?.['alreadyExist']"
                      >Unit Name is already exist
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 label-control" for="notes">Notes</label>
                <div class="col-md-9">
                  <textarea
                    formControlName="notes"
                    rows="5"
                    class="form-control"
                    id="notes"
                  ></textarea>
                </div>
              </div>

              <div class="form-actions" style="border-top: none">
                <a
                  asp-action="Index"
                  asp-controller="Home"
                  class="btn btn-danger mr-1"
                >
                  <i class="icon-trash"></i> Cancel
                </a>
                <button
                  class="btn btn-success"
                  [disabled]="unitForm.invalid"
                  type="submit"
                >
                  <i class="icon-note"></i> Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
